In [17]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

(1, 2, 3, 4, 5, 'Anish', 'Akshi', [11, 22, 33, 44, 55])

In [76]:
#Program:
def KeywordArguments(**kwargs):
    return kwargs
KeywordArguments(a = [1, 2, 3, 4, 5] , b = "Anish", c = "Akshi")

{'a': [1, 2, 3, 4, 5], 'b': 'Anish', 'c': 'Akshi'}

In [85]:
"""._ITER_()."""
l1 = [2, 4, 6, 8, 10,12, 14, 16, 18, 20]
l1_iter = iter(l1)
print ("ITER")
for index, item in enumerate(l1_iter):
    print (item)
    if index == 4:
        break

ITER
2
4
6
8
10

In [86]:
"""._NEXT_()."""
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
l1_iter = iter(l1)
print("NEXT")
print(next(l1_iter))
print(next(l1_iter))
print(next(l1_iter))
print(next(l1_iter))
print(next(l1_iter))

NEXT
2
4
6
8
10

In [92]:
def simple():  
    for i in range(10):
        if(i%2==0):  
            yield i  
    for i in simple():  
            print(i)

In [101]:
""".GENERATOR."""
def my_generator(n):

    # initialize counter
    value = 0

    # loop until counter is less than n
    while value <= n:

        # produce the current value of the counter
        yield value

        # increment the counter
        value += 1

# iterate over the generator object produced by my_generator
for value in my_generator(5):

    # print each value produced by generator
    print(value)

0
1
2
3
4
5

In [1]:
n = int(input("Enter the number"))
a , b = 0 , 1
counter = 0
while counter < n:
    print(a)
    c = a + b
    a = b
    b = c
    counter = counter + 1

Enter the number 10

0
1
1
2
3
5
8
13
21
34

In [1]:
A = []
for char in 'pwskills':
    A.append(char)
print(A)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [3]:
#PALINDROME
num = int(input("Enter a number:"))
temp = num
rev = 0
while (num>0):
    dig = num % 10
    rev = rev * 10 + dig
    num = num // 10
if (temp == rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number: 138

Not a palindrome!

In [2]:
#Fibonacci of n number using Generator.
def fab(n):
    a , b = 0 , 1
    for i in range(n):
        yield a
        a, b = b, a+b # (a=b) , (b=a+b)
for i in fab(5):
    print(i)

0
1
1
2
3

In [3]:
def cal(n,p):
    return n**p
cal(4,6)

4096

In [ ]:
"""  .LAMBDA.  """

In [ ]:
"""  01.  """

#Lambda
A = lambda n , p : n ** p
A (4, 6)

In [ ]:
"""  02.  """

finding_max = lambda a, b : x if a > b else b
finding_max(12,23)

In [ ]:
"""  03.   """

s = "Anish Akshi"
find_len = lambda s: len(s)
find_len(s)

In [27]:
"""   04.   """
List = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
List.sort(key = lambda x: x[1])
print(List)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
"""  .MAP.  """

In [4]:
"""   01   """
L = [1,2,3,4,5,6,7,8,9,10]
def sq(x):
    return x**2
list(map(sq,L))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
"""   02.   """
L = [1,2,3,4,5]
list(map(lambda x : x**2 , L))

[1, 4, 9, 16, 25]

In [22]:
"""    03.   """
L1 = [1,2,3,4,5]
L2 = [5,6,7,8,9]
list(map(lambda x , y : x+y , L1, L2))

[6, 8, 10, 12, 14]

In [23]:
"""   04.   """
L1 = [1,2,3,4,5]
L2 = [5,6,7,8,9]
def add(a,b):
    return a+b
list(map(add, L1, L2))

[6, 8, 10, 12, 14]

In [26]:
"""   04.   """
s = "Anish Akshi"
list(map(lambda s : s.upper() , s))

['A', 'N', 'I', 'S', 'H', ' ', 'A', 'K', 'S', 'H', 'I']

In [28]:
from functools import reduce
L = [1,2,3,4,5]
reduce(lambda x , y : x+y , L)

15

In [15]:
from functools import reduce
LIST = list(range(1,26))
reduce(lambda x, y : x * y, LIST)

15511210043330985984000000

In [29]:
"""   .FILTER.   """
L1=[1,2,3,4,5]
list(filter(lambda x : x % 2 == 0, L1))

[2, 4]

In [30]:
L=["Anish", "Akshi", "Vikash", "Ram", "Boys"]
list(filter(lambda x : len(x) >=5 , L))

['Anish', 'Akshi', 'Vikash']

In [23]:
List = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x % 2 == 0 and x % 3 == 0, List))

[6, 60, 90, 120]

In [25]:
""".PALINDROMES."""
#Write a python program to find palindromes in the given list of strings using lambda and filter function.
List = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: (x == "".join(reversed(x))), List))

['php', 'aba', 'radar', 'level']

In [3]:
#Fibonacci of n number using Generator.
def fab(n):
    a , b = 0 , 1
    for i in range(n):
        yield a
        a, b = b, a+b # (a=b) , (b=a+b)
for i in fab(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [5]:
#Convert list in tuple of strings
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(str, A))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [1]:
#List of range
LIST = list(range(1,26))
print(LIST)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [3]:
"""  .1ST N PRIME NUMBER.  """
def Prime(n):  
    for i in range(2, n // 2 + 1):  
        if (n % i == 0):  
            return(0)  
    return(1)  
  
N = int(input("Enter N:"))  
i = 2 
List = []
while (1):  
    if (Prime(i)):  
        List.append (i) 
        if (len(List) == N):
            break
    i += 1 
print("First " + str(N) + " Prime numbers are:", end = "") 
print(*List)

Enter N: 20

First 20 Prime numbers are:2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71